@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 21cm;
    height: 100%;
    margin: 50px auto;
    color: #000;
    font-family: 'Droid Arabic Kufi',tahoma,'Noto Sans' !important;
    font-size: 16px;
    border: 1px solid #568;
    border-radius: 5px;
    direction: rtl;
}

main{
    padding:10px 20px;
    font-size: 13px;
    line-height: 27px;
    text-align: justify;
    font-weight: 400;
}

.center{
    text-align:center
}

#title h2 {
    text-align: center;
    font-size: 16px;
    margin: 16px auto;
}

input {
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    height: 20px;
    padding-right: 5px;
}

#right{
    width:100%;
    float:right;
}

#content {
    line-height: 44px;
}
