@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}




body {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 21cm;
    height: 14.8cm;
    margin: 0 auto;
    color: #000;
    font-family: 'Droid Arabic Kufi',tahoma,'Noto Sans' !important;
    font-size: 16px;
    border: 1px solid #568;
    border-radius: 5px;
    direction: rtl;
}







.table {
    width: 100%;
}


td {
    width: 100px;
}



table, th, td {
    border: 1px solid rgba(192,192,192,1.00);
    border-collapse: collapse;
    font-size: 14px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}




main{
    padding:10px 20px;
    font-size: 13px;
    line-height: 27px;
    text-align: justify;
    font-weight: 400;
}

main h4{
    color:#A80002;
    margin:0;
}

h3 {
    margin: 0;
    color: crimson;


}


#thanks{
    font-size: 2em;
    margin-bottom: 50px;
}

#notices{
    padding-left: 6px;
    border-left: 6px solid #0087C3;
}

#notices .notice {
    font-size: 1.2em;
}





.center{
    text-align:center
}


#titel h2 {
    text-align: center;
    margin: 0;
    color: crimson;
    font-size: 16px;
    background-color: gainsboro;
    width: 350px;
    margin: 0 auto;
    border-radius: 4px;
}

input {
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    height: 20px;
    padding-right: 5px;
}






#left{
    width:50%;
    float:left;
    text-align: center;
}
#left table{
    width:50%;
    float:left;
    text-align: center;
}

#right{
    width:50%;
    float:right;

}

ul {
    margin-right: -25px;
}


#no {
    position: absolute;
    left: 50px;
    float: left;
    top: 120px;
    color: red;
}


span {
    color: brown;
    font-weight: 600;
}

ol {
    padding-right: 15px;
}


.sin {
    float: right;
    padding: 5px;
    text-align: right;
    border: 1px solid #e3e3e3;
    margin: 5px;
    border-radius: 5px;
    height:170px;

}


#content {

    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    background: #EFEFEF;
    text-align: center;
    line-height: 44px;

}
